<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calck Vue.js</title>
  <link rel="stylesheet" href="./bootstrap.css">
  <script src="./vue.js"></script>

  <link rel="stylesheet" href="./style.css">
</head>
<html>

<body>
  <div id="app">
    <div class="grid">
      <input  v-on:keyup.enter="calc()" type="text" v-model="result" pattern="[A-Za-z]{3}" placeholder="0" >
      <button v-on:click="input(num)" class="cell num"  v-for="num in numbers">
        {{num}}
      </button>
      <button class="cell op" v-on:click="input(op)" v-for="op in operation">
        {{op}}
      </button>
      <button class="cell op" v-on:click="pi()">
        <svg class="icon">
          <use xlink:href="sprite.svg#pi"></use>
        </svg>
      </button>
      <button class="cell op red" v-on:click="reset()">
        R
      </button>
      <button class="cell op" v-on:click="calc()">
        =
      </button>
    </div>
  </div>



</body>
<script src="./main.js"></script>

</html>