@font-face {
  font-family: "Jost", sans-serif; // семейство
  src: url("./../font/Jost-Regular.woff2") format(woff2); //format
  font-weight: 400; // насыщенность
  font-style: normal; // стиль
  font-stretch: normal; // плотность растяжение
}
