@font-face {
	font-family: "Natasha";
	src: url("./../fonts/natasha/natasha.eot"); /* IE9 Compat Modes */
	src: url("./../fonts/natasha/natasha.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("./../fonts/natasha/natasha.otf") format("opentype"), /* Open Type Font */
		url("./../fonts/natasha/natasha.svg") format("svg"), /* Legacy iOS */
		url("./../fonts/natasha/natasha.ttf") format("truetype"), /* Safari, Android, iOS */
		url("./../fonts/natasha/natasha.woff") format("woff"), /* Modern Browsers */
		url("./../fonts/natasha/natasha.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 400;
	font-style: normal;
}


@font-face {
	font-family: "MuseoSans";
	src: url('./../fonts/museo-sans/museo-sans-cyrl.eot'); /* IE9 Compat Modes */
	src: url("./../fonts/museo-sans/museo-sans-cyrl.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("./../fonts/museo-sans/museo-sans-cyrl.otf") format("opentype"), /* Open Type Font */
		url("./../fonts/museo-sans/museo-sans-cyrl.svg") format("svg"), /* Legacy iOS */
		url("./../fonts/museo-sans/museo-sans-cyrl.ttf") format("truetype"), /* Safari, Android, iOS */
		url("./../fonts/museo-sans/museo-sans-cyrl.woff") format("woff"), /* Modern Browsers */
		url("./../fonts/museo-sans/museo-sans-cyrl.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 300;
	font-style: normal;
}