html {
  font-family: 'Natasha', sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none; /* Убираем маркеры */
}

a {
  text-decoration: none;
}
body {
  
}
body.close {
  overflow: hidden;
}

#app{
  background-color: var(--main-color-page);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Natasha', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.25rem;
  color: var(--header-color-text);
  transition: var(--speed);
}
h2 {
  font-size: 2.25rem;
  color: var(--titles-h2-color)
}
h3 {
  font-size: 1.85rem;
  margin: 2rem 0 1.75rem;
  color: var(--color-grey);
}

button {
  outline: transparent;
  border: transparent;
}
.container {
  max-width: 1366px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
