:root{
  --speed: .7s;
  --color-light: #f2f3f4;
  --header-arrow-down-color: #f2f3f4;
  --color-dark: #191919;
  --color-grey: #6d6f69;
  --color-green: #1c4512;
  --color-green-light: #cddbc3;
}

[data-theme='light'] {
  --color-bright: #fc6337;
  --arrow-down-color: #1c4512;
  --header-color-text: #f2f3f4;
  --main-color-page: #f2f3f4;
  --titles-h2-color: #191919;
  --descr-text-color: #191919;
  --border-color: #1c4512;

}
[data-theme='dark'] {
  --color-bright: #8a19f0;
  --arrow-down-color: #cddbc3;
  --header-color-text: #191919;
  --main-color-page: #22272e;
  --titles-h2-color: #f2f3f4;
  --descr-text-color: #f2f3f4;
  --border-color: #8a19f0;
}


