[data-theme='light'] {
  --color-light: #f2f3f4;
  --color-dark: #191919;
  --color-grey: #6d6f69;
  --color-green: #1c4512;
}

[data-theme='dark'] {
  --color-light: #f2f3f4;
  --color-dark: #191919;
  --color-grey: #6d6f69;
  --color-green: #1c4512;
}
