body {

  font-family: 'Balsamiq Sans',
  cursive;
  /* font-family: 'Open Sans',
  sans-serif; */
  background-image: url('../image/les.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.game{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-self: center;
}

.hide{
  display: none;
}
.wisibl{
  display: block;
}
.game_area{
  z-index: 1;
  overflow: hidden;
  width: 300px;
  height: 100%;
  position: relative;
  margin: auto;
  background-color: #606060;
  /* border-left: 5px solid white;
  border-right: 5px solid white; */

}
.car, .enemy{
  z-index: 3;
  position: absolute;
  width: 45px;
  height: 100px;
  background: transparent url('../image/geleck.png') center no-repeat;
  background-size: cover;
  border-radius: 20px;
  
}
.line {
  z-index: 1;
  position: absolute;
  width: 5px;
  height: 35px;
  background-color: #fff;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}
.score {
  position: absolute;
  z-index: 2;
  top: 2rem;
  width: 100%;
  display: block;
  transition: all 1s;
  text-align: center;
  background-color: #3333CC;
  height: 0px;
  overflow: hidden;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.start,
.reset {
  position: absolute;
  width: 100%;
  z-index: 2;
  text-align: center;
  height: 2rem;
  line-height: 2rem;
  background-color: #009900;
}
.reset{
    background-color: firebrick;
}
.active{
  height: 3rem;
  padding-top: 1rem;
}